* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container {
    padding: 10px 10%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;

}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icon {
    margin-top: 30px;
}

.social-icon a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    margin-bottom: 10px;
}

.social-icon a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #353535a1;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffffa6;
    transition: background 0.5s;
    margin-top: 20px;
}

.btn:hover {
    background: #ffffff;
}

.btn.btn2 {
    display: inline-block;
    background: #ffffff13;
    background-color: transparent;
    transition: transform 0.5s;
}

.btn.btn2:hover {
    transform: translateY(-5px);
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #38383842;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}


nav .fa-solid {
    display: none;
}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}



@media only screen and (max-width: 950px) {

    .btn {
        display: block;
        margin: 10px auto;
        width: fit-content;
        padding: 14px 30px;
    }

    .contact-left {
        flex-basis: 100%;
    }

    .contact-right {
        flex-basis: 100%;
    }

}



.back-btn{
    position: fixed;
    top: 3%;
    left: 3%;
    z-index: 1000;
    text-decoration: none;
    border: 0.15rem solid rgb(255, 255, 255);
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.back-btn i{
    font-size: 20px;
    color: #ffffff;
    border-radius: 100%;
}
.back-btn:hover {
    transform: rotateZ(360deg) scale(1.2);
}


video{
    right: 0;
    /* left: 0; */
    bottom: 0;
    z-index: -10;
    opacity: normal;
    position: fixed;
  
  }
  @media (min-aspect-ratio: 16/9){
    video{
        width: 100%;
        height: auto;
    
    }
  }
  @media (max-aspect-ratio: 16/9){
    video{
        width: auto;
        height: 100%;
    
    }
  } 


  
@media only screen and (max-width: 600px) {
    .sub-title {
        font-size: 50px;
    }
    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }
}